@import "vars";

html {
  font-size: 10px;
}

body {
  font-family: "Bodoni Moda", "Noto Sans KR";
  font-size: 1.6rem;
  min-height: 5000px;
  //cursor: none;
}
h1 {
  text-align: center;
  font-size: 3.2vw;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(48, 43, 38, 1);
  margin-top: 200px;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  font-size: 1.2vw;
  font-weight: 400;
  color: rgba(48, 43, 38, 0.8);
}
.txtBox {
  font-size: 4.8rem;
  line-height: 1.5;
  color: #111;
  &.red {
    //color: $main-color;
  }

  &.bold {
    font-weight: 500;
  }
}

.info {
  .infoBox {
    padding: 20px 30px;
    border: 1px solid #d9d9d9;
    margin: 10px 0;
  }
}
.container {
  width: 1200px;
  margin: auto;
}
#header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;

  #logo {
    font-size: 24px;
    font-weight: 700;

    a {
      display: block;
      padding: 50px 0;
    }
  }

  .btnAll {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #111;

      &:nth-child(2) {
        margin: 10px 0;
      }
    }
  }
}

#main {
  #mainVisual {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(254, 145, 145, 0.1) 0%, rgba(109, 147, 247, 0.05) 32%, rgba(161, 158, 255, 0) 100%);

    .title {
      font-size: 7vw;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;
      color: rgb(48, 43, 38);
      font-family: "Roboto+Mono";
    }
    .subTitle {
      margin-top: 50px;
      font-size: 2.5vw;
      font-weight: 400;
      letter-spacing: -0.01em;
      text-align: center;
      color: rgba(48, 43, 38, 0.8);
      font-family: "Roboto+Mono";
    }
    .img {
      @include absCenter();
      top: 80%;
      z-index: -1;
      img {
        width: 33vw;
        z-index: 2;
        transform: rotateZ(50deg);
      }
    }
  }
  #introduce {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    p {
      word-break: keep-all;
      width: 50%;
      strong {
        font-size: 2.2vw;
        font-weight: 500;
      }
      &.sub {
        color: rgba(48, 43, 38, 0.8);
        margin-top: 50px;
        font-size: 1.2vw;
      }

      &.main {
        font-weight: 300;
        letter-spacing: 0.1em;
        font-size: 2vw;
      }
    }
    .no {
      position: relative;
      width: 100px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 5px;
        right: 0;
        height: 1px;
        top: 20px;
        transform-origin: 0 50%;
        background-color: $main-color;
      }
    }
  }
  #introduce02 {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    .doorBox {
      position: absolute;
      left: 50px;
      top: 50px;
      .door02 {
        width: 250px;
        position: absolute;
        left: 314px;
        top: 23px;
        perspective: 3500px;
        transform-style: preserve-3d;
        transition: all 1.5s ease;
        img {
          width: 100%;
          //transform: rotateY(-60deg) translateX(10px) ;
          transform: rotateY(-70deg) translateZ(40px);
          transform-origin: 100% 0;
          box-shadow: 10px 10px 20px rgba(21, 95, 163, 0.15);
        }
      }
      .door {
        width: 300px;
        position: absolute;
        left: 250px;
        top: 0;
        perspective: 1200px;
        transform-style: preserve-3d;
        img {
          width: 100%;
          transform: translateZ(10px);
        }
      }
    }

    .no {
      position: relative;
      width: 100px;
      padding: 10px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 5px;
        right: 0;
        height: 1px;
        top: 20px;
        transform-origin: 0 50%;
        background-color: $main-color;
      }
    }

    .me {
      @include absCenter(v);
      right: 10%;
      top: 40%;
      > .intro {
        color: rgba(48, 43, 38, 1);
        font-size: 2vw;
        //letter-spacing: 0.1em;
      }
      .info {
        margin-top: 100px;
        font-size: 1.4vw;
      }
    }
  }
  #portfolio {
    .center {
      text-align: center;
      position: relative;
      .no {
        position: relative;
        //width: 100px;
        &:after {
          content: "";
          display: block;
          width: 100px;
          height: 1px;
          @include absCenter();
          //padding-top: 50px;
          top: 25px;
          background-color: $main-color;
        }
      }
      p {
        word-break: keep-all;
        width: 100%;
        strong {
          font-size: 2.2vw;
          font-weight: 500;
        }
        &.sub {
          color: rgba(48, 43, 38, 0.8);
          margin-top: 50px;
          font-size: 1.2vw;
          line-height: 1.5em;
        }

        &.main {
          font-weight: 300;
          letter-spacing: 0.1em;
          font-size: 2vw;
          line-height: 1.5em;
        }
      }
      .img02 {
        @include absCenter();
        z-index: -1;
        top: 20%;
        img {
          width: 20vw;
          //z-index: 2;
        }
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      li {
        padding: 0 100px;
        position: relative;
        //transition: all 1s ease;
        &:hover {
          transition: all 0.5s ease;
          .img {
            transform: rotateZ(15deg);
            transition: all 0.5s ease;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 330px;
            height: 330px;
            background: linear-gradient(0deg, rgba(255, 163, 196, 0.5) 0%, rgba(255, 234, 188, 0.2) 100%);
            border-radius: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: all 0.5s ease;
            z-index: -1;
          }
          .title {
            @include absCenter();
            transition: all 0.5s ease;
            font-size: 2vw;
            opacity: 1;
          }
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          background: linear-gradient(0deg, rgba(255, 163, 196, 0.5) 0%, rgba(255, 234, 188, 0.2) 100%);
          border-radius: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 1s ease;
        }
        .title {
          @include absCenter();
          text-align: center;
          //margin-top: 40px;
          opacity: 0;
          color: rgba(48, 43, 38, 1);
          font-weight: 700;
        }
        a {
          .img {
            width: 200px;
            transition: all 0.5s ease;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  #rose {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    .right {
      right: 0;
      .no {
        position: relative;
        //width: 100px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 100px;
          height: 1px;
          top: 85px;
          right: 41%;
          //transform-origin: 0 0;
          background-color: $main-color;
        }
      }
      p {
        word-break: keep-all;
        width: 50%;
        @include absCenter(v);
        right: 0;
        strong {
          font-size: 2.2vw;
          font-weight: 500;
        }
        &.sub {
          color: rgba(48, 43, 38, 0.8);
          font-size: 1.2vw;
          margin-top: 130px;
        }
        &.main {
          font-weight: 300;
          letter-spacing: 0.1em;
          font-size: 2vw;
        }
      }
    }

    .img02 {
      @include absCenter(v);
      left: 12%;
      z-index: -1;
      img {
        width: 30vw;
        z-index: 2;
      }
    }
  }
  #skill {
    padding-bottom: 100px;
    h1 {
      margin-top: 10px;
      margin-bottom: 60px;
    }
    .skillBox {
      margin-top: 100px;
      ul {
        display: flex;
        justify-content: center;
        li {
          margin: 0 50px;
          position: relative;
          // &:before {
          //     content: "";
          //     display: block;
          //     position: absolute;
          //     width: 200px;
          //     height: 200px;

          //     border-radius: 100%;
          //     left: 50%;
          //     top: 0;
          //     transform: translateX(-50%);
          //     //transition: all 1s ease;
          // }
          .img {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            left: 50%;
            top: 15px;
            transform: translateX(-50%);
            z-index: -1;
            img {
              width: 100%;
              opacity: 1;
            }
          }
          .skill {
            position: relative;
            svg {
              width: 350px;
              height: 350px;
              transform: rotate(-90deg);
              position: relative;
              circle {
                fill: transparent;
                stroke: rgba(161, 129, 103, 0.2);
                stroke-width: 3px;
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                stroke-linecap: round;
              }
            }
            .txt {
              position: absolute;
              top: 135%;
              width: 100%;
              left: 0;
              text-align: center;
              transform: translateY(-50%);
              font-size: 32px;
              font-weight: 500;
              color: rgba(48, 43, 38, 0.8);
            }
          }
          h3 {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            margin-top: 50px;
            color: rgba(48, 43, 38, 1);
          }
        }
      }
    }
  }
  #contact {
    position: relative;
    //margin-top: 100px;
    height: 100vh;
    background: linear-gradient(0deg, rgba(254, 145, 145, 0.1) 0%, rgba(109, 147, 247, 0.05) 32%, rgba(161, 158, 255, 0) 100%);
    overflow: hidden;
    .airplane {
      width: 250px;
      position: absolute;
      left: 0;
      top: 30%;
      transform: translateX(1900px);
      transition: all 5s ease;
      //box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.05);
      img {
        width: 100%;
      }
    }
    .img02 {
      @include absCenter(v);
      right: 10%;
      z-index: -1;
      img {
        width: 36vw;
        z-index: 2;
      }
    }
    .me {
      @include absCenter(v);
      left: 10%;
      top: 50%;
      .no {
        position: relative;
        width: 100px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 5px;
          right: 0;
          height: 1px;
          top: 20px;
          transform-origin: 0 50%;
          background-color: $main-color;
        }
      }
      > .intro {
        color: rgba(48, 43, 38, 1);
        font-size: 2vw;
        //letter-spacing: 0.1em;
      }
      .info {
        margin-top: 100px;
        font-size: 1.4vw;
      }
    }
  }
}
.cursor {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  position: fixed;
  left: 300px;
  top: 300px;
  user-select: none;
  pointer-events: none;
  z-index: 9999999;
  transform: translate(-50%, -50%);
  //cursor: none;
  transition: background-color 0.25s ease, color 0.25s ease, font-size 0.25s ease, font-weight 0.25s ease, transform 0.25s ease;
  .txt {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }
  img {
    width: 30px;
  }
  // &.on {
  //     transform: rotateZ(360deg);
  //     transition: all 0.5s ease;
  // }
}
